@page "/checkforupdate"
@using Liftoff.VelopackDemo.Services.Update

@inject IUpdateService update

<h3>Check for Update</h3>

@if (isUpdateAvailable)
{
    <p>A new update is available!</p>
    <button @onclick="UpdateApplication">Update</button>
    <p>@downloadStatus</p>
}
else
{
    <p>You are using the latest version.</p>
}

@code {
    private bool isUpdateAvailable = false;

    private string downloadStatus;

    protected override async Task OnInitializedAsync()
    {
        update.DownloadStarted += IUpdateService_DownloadStarted;
        update.DownloadProgressChanged += IUpdateService_DownloadProgressChanged;
        update.DownloadCompleted += IUpdateService_DownloadCompleted;

        isUpdateAvailable = await update.CheckForUpdateAsync();
    }

    private async Task UpdateApplication()
    {
        await update.UpdateApplicationAsync();
    }

    private async void IUpdateService_DownloadStarted(object? sender, EventArgs e)
    {
        await InvokeAsync(() =>
        {
            downloadStatus = "Download started";
            StateHasChanged();
        });
    }

    private async void IUpdateService_DownloadProgressChanged(object? sender, DownloadProgressChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            downloadStatus = $"Download progress: {e.PercentComplete}%";
            StateHasChanged();
        });
    }

    private async void IUpdateService_DownloadCompleted(object? sender, EventArgs e)
    {
        await InvokeAsync(() =>
        {
            downloadStatus = "Download finished";
            StateHasChanged();
        });
    }
}
